.btn{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: none;
    padding: 10px;
    transition: all 0.3s;
    background-color: var(--btn-services);
}
.btn-primary{
    color: white;
    background-color: blue;
}
.btn-deleteProject, .btn-deleteTask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1rem;
    background-color: rgb(134, 0, 0);
}
.btn-deleteProject:hover, .btn-deleteTask:hover{
    background-color: rgb(214, 4, 0);
}
.btn-deleteProject::after, .btn-deleteTask::after{
    content: '✖';
}
.btn-createTask{
    background-color: var(--btn);
    font-weight: 600;
    align-self: end;
}
.btn-addProject{
    background-color: var(--btn);
    font-weight: 600;
}
.btn-createTask:hover, .btn-addProject:hover{
    background-color: var(--btn_hovered);
}
.btn-clearLocalStorage, .btn-exportData, .btn-timeSettings, .btn-toggleTheme-light, .btn-toggleTheme-dark, .btn-settings{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1rem;
}
.btn-clearLocalStorage::after{
    content: '💀';
}
.btn-exportData::after{
    content: '📋';
}
.btn-settings::after{
    content:'⚙️';
}
.btn-timeSettings::after{
    content: '🕒';
}
.btn-toggleTheme-light::after{
    content: '🌙';
}
.btn-toggleTheme-dark::after{
    content: '☀️';
}