.app{
    background-color: #202c39;
    height: 100vh;
    overflow:auto;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 100px auto;
    grid-template-columns: minmax(180px, 20%) auto;

}