.pomodoro{
  border-radius: 90px;
  /* height: 400px;
  width: 400px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  color: #31302f;
  background-color: #f2d492;
}
.pomodoro .pomodoro__controls{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}
.pomodoro .pomodoro__controls button{
  cursor: pointer;
  border: 0;
  background-color: unset;
}